<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- Navigation -->
	<nav th:fragment="navbar(title)" class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="col-sm-offset-4 navbar-brand">Flight App Mgmt</div>
			</div>
			
			<ul class="nav navbar-nav">
				<li class="navbar-item"><form th:action="@{/home}">
						<input type="submit" class="btn btn-link" value="Bookings" />
					</form>
				<li class="navbar-item"><form th:action="@{/ui/flights/search}">
						<input type="submit" class="btn btn-link" value="Search Flights" />
					</form>
			</ul>
			<div class="navbar-text col-sm-offset-4" th:if="${title !=null}"
				th:text="${title}"></div>
			<div th:if="${userName}">
				Authenticated as <span th:text="${userName}"></span>
			</div>
		</div>
	</nav>

</body>
</html>