<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/include :: header">
</head>
<body>

	<div th:insert="fragments/include :: navbar('Flights')"></div>
	<div class="container">
		<form class="form-inline" th:object="${searchForm}"
			th:action="@{/ui/flights/search-submit}" method="post">
			<div class="control-group" style="padding-bottom:10px; margin-bottom:40px;border-bottom:1px solid grey">
				<label class="control-label" for="origin">From:</label> <select
					class="form-control" name="origin" id="origin" th:field="*{origin}">
					<option value="0">select origin</option>
					<option th:each="city : ${cities}" th:value="${city}"
						th:text="${city}"></option>
				</select> <label class=" col-sm-offset-1  control-label" for="destination">To:</label> <select
					class="form-control" name="destination" id="destination" th:field="*{destination}">
					<option value="0">select destination</option>
					<option th:each="city : ${cities}" th:value="${city}"
						th:text="${city}"></option>
				</select> <label class="col-sm-offset-1 control-label" for="date">Date:</label> <input
					type="date" class="form-control" name="date" th:field="*{date}"> <input
					type="submit" class="col-sm-offset-1 btn btn-primary form-control" name="search" value="search"></input>
			</div>
		</form>
		<div th:insert="flights_results :: search-results"></div>

	</div>
</body>
</html>