<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/include :: header">
</head>
<body>

	<div th:fragment="search-results"
		th:if="${searchForm != null && searchForm.showResults == true }">

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Airline</th>
					<th>Flight Number</th>
					<th>Origin</th>
					<th>Destination</th>
					<th>Date</th>
					<th>Time</th>
					<th>Duration</th>
					<th>Fare</th>
					<th>Seats Left</th>
					<th>Book</th>
				<tr>
			</thead>
			<tbody>
				<tr th:each="flight : ${searchForm.flights}">
					<td th:text="${flight.flightInfo.airlineInfo.name}"></td>
					<td th:text="${flight.flightNumber}"></td>
					<td th:text="${flight.origin}"></td>
					<td th:text="${flight.destination}"></td>
					<td th:text="${flight.flightDate}"></td>
					<td th:text="${flight.flightTime}"></td>
					<td th:text="${flight.duration}"></td>
					<td th:text="${flight.fare.fare}"></td>
					<td th:text="${flight.inventory.count}"></td>
					<td><form method="post" th:action="@{/ui/flights/booking}">
					<input type="hidden" name="flightId" th:value="${flight.id}"/>
					<input type="submit" class="btn btn-sm btn-link" name="BookFlight" value="Book Flight"/></form></td>
				</tr>
			</tbody>
			<tr>
			<tr>
		</table>
	</div>
</body>
</html>