<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/include :: header">
</head>
<body>

	<div th:insert="fragments/include :: navbar('Booking')"></div>
	<div class="container">
		<form class="form-horizontal" th:object="${bookingForm}"
			th:action="@{/ui/flights/booking/submit}" method="post">
			<div th:if="*{bookingDone}" class="alert alert-success">Booking
				Completed Successfully!</div>
			<div class="control-group">
				<input type="hidden" name="flightId" th:field="*{flightId}"
					th:value="${flightId}" /> <span class="control-label">Airline:
				</span> <span class="" th:field="*{flight.flightInfo.airlineInfo.name}"
					th:text="*{flight.flightInfo.airlineInfo.name}"></span>
			</div>
			<div class="control-group">
				<span class="control-label">Flight Number: </span> <span class=""
					th:field="*{flight.flightNumber}" th:text="*{flight.flightNumber}"></span>
			</div>
			<div class="control-group">
				<span class="control-label">Flight Date: </span> <span class=""
					th:field="*{flight.flightDate}" th:text="*{flight.flightDate}"></span>
			</div>
			<div class="control-group">
				<span class="control-label">Flight Time: </span> <span class=""
					th:field="*{flight.flightTime}" th:text="*{flight.flightTime}"></span>
			</div>
			<div class="control-group">
				<span class="control-label">Fare (INR) : </span> <span class=""
					th:field="*{flight.fare.fare}" th:text="*{flight.fare.fare}"></span>
			</div>
			<div style="padding-top: 10px; paddding-bottom: 10px;"
				th:each="passenger, itemStat : *{passengers}"
				th:insert="flight_passenger_added :: added-passengers"></div>
			<!-- Passenger information -->

			<div th:if="*{!bookingDone}"
				style="padding-top: 10px; paddding-bottom: 10px;"
				th:insert="flight_passenger :: booking-passengers"></div>
			<div class="control-group" style="padding-top: 30px">
				<input th:if="!*{bookingDone}" type="submit"
					class="btn btn-link btn-md" name="addPassenger"
					value="Add Passenger" /> <input type="submit"
					th:if="!*{bookingDone}" class="btn btn-link btn-md "
					name="bookFlight" value="Book Flight" />
			</div>
			<div class="control-group" style="padding-top: 30px">
				<form th:action="@{/ui/home}">
					<input th:if="*{bookingDone}" name="goTOHome"
						value="Go to Homepage" type="submit"
						class="btn btn-md btn-primary"></input>
				</form>
			</div>
		</form>

	</div>
</body>
</html>