<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<div th:fragment="include :: head">

		<p>
			Click <a th:href="@{/hello}">here</a> to see a greeting.
		</p>
	</div>
</body>
</html>