<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/include :: header">
</head>
<body>
	<div th:insert="fragments/include :: navbar('Registration Success')"></div>
	<div class="container">
		<div th:if="${param_error != null}" class="control-label"
			th:text="${param_error}"></div>
		<div th:if="${param_success != null}" class="control-label"
			th:text="${param_success}"></div>
		<div class="control-group" th:if="${param_error != null}">
			<a href="/register" class="btn btn-link">Go back to registration
				page</a>
		</div>
		<div class="control-group" th:if="${param_success != null}">
			<a href="/login" class="btn btn-link">Go to Login page</a>
		</div>
	</div>
</body>
</html>